<html>
    <head>
         <link rel="stylesheet" href="/css/countdown.css">
         <script src="/js/focus.js"></script>
    </head>
    <body>
        <div class="screen">
            <div style="display: inline;">
                <img id="burger" src="/icon/burger.png" alt="" onclick="openNav()">
            </div>
            <div class="center">
                <h4 id="task">Finish A1</h4>
                <h4 id="task">Take Quiz2</h4>
                <img id="checkbox" src="/icon/checkbox.png" alt="">       
        </div>
    </body>
</html>