<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Friends</title>
    <link rel="stylesheet" href="/css/friends.css">
</head>
<body>
    <div class="screen">
        <div id="page_title">
            <h1 id="title">Friends</h1>
            <a href="/main"><img id="back" src="/icon/back.png" alt=""></a>
            <div id="plus"><div id="hori"></div><div id="verti"></div></div>
        </div>
        <div id="list">
            <ul>
                <li><img src="/icon/user.png" alt=""><span>Mark</span><span>$200</span></li>
                <li><img src="/icon/user.png" alt=""><span>Candace</span><span>$180</span></li>
                <li><img src="/icon/user.png" alt=""><span>Jack</span><span>$100</span></li>
            </ul>
        </div>
        
    </div>
</body>
</html>