<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>History</title>
    <link rel="stylesheet" href="/css/history.css">
</head>

<body>
    <div class="screen">
        <div class="title">
            <h1>History</h1>
            <h3 style ="margin-left:10px">Total money earned: $275</h3>
            <a href="/main"><img id="back" src="/icon/back.png" alt=""></a>
        </div>
        <img id ="image" src="/icon/chart.png">
    </div>

</body>

</html>