<html>
<head>
	<title>Test Page</title>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<div class="screen" id="start">
		<h1>Welcome to Focus Comp.</h1>
		<button class="btn">Next</button>
	</div>
</body>
</html>
