<html>
<head>
	<title>Test Page</title>
	<link rel="stylesheet" href="/css/index.css">
</head>
<body>
	<div class="screen" id="start">
		<h1>Welcome to Focus Co.</h1>
		<h2>Stay focus, earn money</h2>
		<img src="/icon/focus.png">
		<a href="/login"><button class="btn">Next</button></a> 
	</div>
</body>
</html>
