<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<div class="screen">
		<h1>Log In</h1>
		<img src="/icon/focus.png">

		<div class = "textboxs">
			<label for="username"><b style="font-size: 20px">Username</b></label>
			<input type ="text" placeholder ="Enter Username" name="username" required>

			<label for="password" ><b style="font-size: 20px">Password</b></label>
			<input type ="password" placeholder ="Enter Password" name="password" required>

			<a href="/notiSetting"><button type="submit">Login</button><a href="/main">
		</div>
	</div>
</body>
</html>