<html>
    <head>
         <link rel="stylesheet" href="/css/main.css">
         <script src="/js/focus.js"></script>
    </head>
    <body>
        <div class="screen">
            <div id="sidebar">
                <img src="/icon/cross.png" style="height: 35px; width: 35px; margin-right: 0;" alt="" onclick="closeNav()">
                <button class="btn-nav">Profile</button>
                <button class="btn-nav">Friends</button>
                <button class="btn-nav">History</button>
                <button class="btn-nav">Achievements</button>
            </div>
            <div>
                <img id="burger" src="/icon/burger.png" alt="" onclick="openNav()">
            </div>
            <div class="center">
                <h2 >Hi Jack!</h2>
                <img src="#" alt="">
                <h4>Level: Intern</h4>
                <button class="btn-start">Start</button>
            </div>

            <div class="switch">
                <div>
                    <img class="arrow" src="/icon/left.png" alt="">
                </div>
                <div style="font-size: 30px">Tasks</div>
                <div>
                    <img class="arrow" src="/icon/right.png" alt="">
                </div>
            </div>
            <div>
                <span style="margin-left: 35px; font-size: 18px">Groups</span>
                <span style="margin-left: 175px; font-size: 18px">Individual</span>
            </div>
            
        </div>
        
    </body>
</html>