<html>

<head>
    <link rel="stylesheet" href="/css/main.css">
    <script src="/js/focus.js"></script>
</head>

<body>
    <div class="screen">
        <div id="sidebar">
            <img src="/icon/cross.png" style="height: 35px; width: 35px; margin-right: 0;" alt="" onclick="closeNav()">
            <img id="user-pic" src="/icon/user.png" alt="">
            <button class="btn-nav">History</button>
            <button class="btn-nav">Settings</button>
            <a href="/login">Logout</a>
        </div>
        <div style="display: inline;">
            <img id="burger" src="/icon/burger.png" alt="" onclick="openNav()">
            <span class="money">${{jic006.credits}}</span>
            <img id="moneyIcon" src="/icon/money.png" alt="">
        </div>
    
        <div class="center">
            <h1>Hi {{jic006.username}}!</h2>
                <img id="figure" src="/icon/figure.png" alt="">
                <h4 id="level">Level: {{jic006.level}}</h4>
                <a href="/tasksetting"><button class="btn-start">Start</button></a>
        </div>

        <a href="/individual"><button id="btn-todo" >Todo</button></a>

        <div class="switch">
            <div><a href="/main">Home</a></div>
            <div><a href="/friends">Friends</a></div>
            <div>Achievements</div>
            <div>Me</div>
        </div>  

    </div>

</body>

</html>