<html>
    <head>
         <link rel="stylesheet" href="/css/main.css">
         <script src="/js/focus.js"></script>
    </head>
    <body>
        <div class="screen">
            <div id="sidebar">
                <img src="/icon/cross.png" style="height: 35px; width: 35px; margin-right: 0;" alt="" onclick="closeNav()">
                <img id="user-pic" src="/icon/user.png" alt="">
                <button class="btn-nav">Friends</button>
                <button class="btn-nav">History</button>
                <button class="btn-nav">Achievements</button>
                <button class="btn-nav">Settings</button>
            </div>
            <div style="display: inline;">
                <img id="burger" src="/icon/burger.png" alt="" onclick="openNav()">
                <span class="money">$100</span>
            </div>
            <a href="#"><img id="rank" src="/icon/rank.png" alt=""></a>
            <div class="center">
                <h1 >Hi Jack!</h2>
                <img id="figure" src="/icon/figure.png" alt="">
                <h4 id="level">Level: Intern</h4>
                <a href="/"><button class="btn-start">Start</button></a>
                
            </div>

            <div class="switch">
                <div>
                    <img class="arrow" src="/icon/left.png" alt="">
                </div>
                <div style="font-size: 30px">Tasks</div>
                <div>
                    <img class="arrow" src="/icon/right.png" alt="">
                </div>
            </div>
            <div>
                <span style="margin-left: 35px; font-size: 18px">Groups</span>
                <span style="margin-left: 175px; font-size: 18px">Individual</span>
            </div>
            
        </div>
        
    </body>
</html>