<html>
<head>
	<title>Notification Setting</title>
	<link rel="stylesheet" href="/css/notiSetting.css">
</head>
<body>
	<div class="screen">
		<h2>Apps Notification</h2>
		<h3>Select the apps that you want to receive notifications while focusing: </h3>
		<button class="btn">Next</button>
		<label class="switch">
  			<input type="checkbox">
 			<span class="slider round"></span>
	</label>
	</div>
</body>
</html>