<html>

<head>
	<title>Notification Setting</title>
	<link rel="stylesheet" href="/css/notiSetting.css">

</head>

<body>
	<div class="screen">
		<h2>Apps Notification</h2>
		<h3>Select the apps that you want to receive notifications while focusing: </h3>
		<div class="control">
			<div class="app">
				<img src="/icon/facebook.png" >
				<label class="switch">
					<input type="checkbox" checked>
					<span class="slider round"></span>
				</label>
			</div>

			<div class="app">
				<img src="/icon/ins.jpg" >
				<label class="switch">
					<input type="checkbox" checked>
					<span class="slider round"></span>
				</label>
			</div>
		</div>
		<button class="btn">Next</button>
	</div>
	
	</div>
</body>

</html>