<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking</title>
    <link rel="stylesheet" href="/css/rank.css">
</head>
<body>
    <div class="screen">
        <h2>Ranking</h2>
        <div id="list">
            <ul>
                <li><img src="/icon/user.png" alt=""><span>Mark</span><span>$200</span></li>
                <li><img src="/icon/user.png" alt=""><span>Candace</span><span>$180</span></li>
                <li><img src="/icon/user.png" alt=""><span>Jack</span><span>$100</span></li>
            </ul>
        </div>
        <a href="/main"><button>Back</button></a>
    </div>
</body>
</html>