<html>
    <head>
        <title>Start Setting</title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <div class="screen">
            <h4>Choose Apps to mute while focusing!</h4>
        </div>
    </body>
</html>