<html>

<head>

	<title>ticket</title>
    <link rel="stylesheet" href="../public/css/ticket.css">

</head>


	<header>

	<div class = "container">

		<div id = "page_title">
			<h1>Tickets</h1>
			<img id = "user_question" src = "../public/icon/user_question.png">
		</div>

		<div id = "ticket_value">
			<label for = "ticket_val">Ticket value</label>
			<form>
			<input type = "text" name = "ticket_val" placeholder = "Enter # minutes">
			</form>
		</div>

		<div id = "ticket_number">
			<label for = "ticket_num">Ticket number</label>
			<form>
			<input type = "text" name = "ticket_num" placeholder = "Enter # tickets">
			</form>
		</div>

		<div id = "total_ticket">
			<div id = "total_text">
				<h3>Total break time</h3>
			</div>
			
			<div class = "box"></div>

			<h3>Minutes</h3>


		<div id = "save">
			<a href = "/Countdown"><button type = "save" class = "save_but">Save & Go</button></a>
		</div>
 

	</div>
