.screen {
    width: 365px;
    height: 812px;
    border: 1px solid black;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: white;
}

#tasks {
    margin-top: 50px;
    font-size: 25px;
    height: 150px;
    width: 200px;
    background-color: #D2FDFF;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: scroll;
}

.clock {
    left: 0;
    top: 0;
    height: 240px;
    width: 240px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    z-index: 1;
    position: absolute;
}

svg {
    top: 0;
    left: 0;
    position: absolute;
}

.circle {
    stroke-dasharray: 691;
    stroke-dashoffset: 0;
    transform-origin: center;
    transform: rotate(-90deg);
    animation: countdown 60s;
    animation-timing-function: linear;
    animation-play-state: running;
}

.time-display {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked + label{
    text-decoration: line-through;
}

.ticket-area {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 240px;
    left: 50%;
    top: 60%;
    position: absolute;
    transform: translate(-50%, 40%);
    justify-content: space-between;
    background-color: white;
}

.ticket-display {
    position: relative;
    text-align: center;
}

#ticket {
    width: 100px;
    position: relative;
    top: -25px;
    left: -10px;
    transform: rotate(39deg);
}

#ticket-val {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-100%, -50%);
}

#mult {
    width: 40px;
    position: relative;
    top: 5px;
    transform: translateX(-15px);
}

#ticket-num {
    margin-top: -1px;
    margin-right: 10px;
    font-size: 40px;
    text-align: center;
    border: 2px solid black;
    border-radius: 3px;
    width: 50px;
    height: 50px;
}

#break {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 50%;
    top :75%;
    border: none;
    border-radius: 5px;
    transform: translateX(-50%);
    background-color:#FBE8A6;
    box-shadow: 6px 6px 10px #aaaaaa;
}

#quit {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 50%;
    top :85%;
    border: none;
    border-radius: 5px;
    transform: translateX(-50%);
    background-color:#FF605C;
    box-shadow: 6px 6px 10px #aaaaaa;
}

.modal {
    position: absolute;
    width: 80%;
    height: 230px;
    left: 50%;
    top: 50%;
    background-color: #B4DFE5;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    display: none;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#continue{
  border: none;
  background-color:#4CAF50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#btn-yes {
    width: 100px;
    height: 30px;
    background-color: #FF605C;
    text-align:center;
    border:none;
}

#btn-no {
    width: 100px;
    height: 30px;
    background-color: #00CA4E;
    text-align:center;
    margin-top:15px;
    border:none;
}

@keyframes countdown{
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 691;
    }
}