.screen {
    width: 365px;
    height: 812px;
    border: 1px solid black;
    position: relative;
    align-items: center;
    justify-content: center;
}

#tasks {
    margin-top: 50px;
    font-size: 25px;
    height: 150px;
    width: 200px;
    background-color: grey;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: scroll;
}

.clock {
    left: 0;
    top: 0;
    height: 240px;
    width: 240px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    z-index: 1;
    position: absolute;
}

svg {
    top: 0;
    left: 0;
    position: absolute;
}

.circle {
    stroke-dasharray: 691;
    stroke-dashoffset: 0;
    transform-origin: center;
    transform: rotate(-90deg);
    animation: countdown 10s;
    animation-timing-function: linear;
    animation-play-state: running;
}

.time-display {
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input:checked + label{
    text-decoration: line-through;
}

.ticket-area {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 240px;
    left: 50%;
    top: 60%;
    position: absolute;
    transform: translate(-50%, 40%);
    justify-content: space-between;
}

.ticket-display {
    position: relative;
    text-align: center;
}

#ticket {
    width: 100px;
    position: relative;
    top: -25px;
    left: -10px;
}

#ticket-val {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -50%);
}

#mult {
    width: 40px;
    position: relative;
    top: 5px;
    transform: translateX(-15px);
}

#ticket-num {
    margin-top: -1px;
    margin-right: 10px;
    font-size: 40px;
    text-align: center;
    border: 2px solid black;
    border-radius: 3px;
    width: 50px;
    height: 50px;
}

#break {
    position: absolute;
    width: 200px;
    height: 50px;
    left: 50%;
    top :75%;
    border: none;
    border-radius: 5px;
    transform: translateX(-50%);
}

#quit {
    position: absolute;
    width: 150px;
    height: 50px;
    left: 50%;
    top :85%;
    border: none;
    border-radius: 5px;
    transform: translateX(-50%);
}

.modal {
    position: absolute;
    width: 80%;
    height: 350px;
    left: 50%;
    top: 50%;
    background-color: #909090;
    border-radius: 10px;
    display: none;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#btn-yes {
    width: 100px;
    height: 30px;
    background-color: red;
}

#btn-no {
    width: 100px;
    height: 30px;
    background-color: green;
}

@keyframes countdown{
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 691;
    }
}