.screen {
    width: 365px;
    height: 812px;
    border: 1px solid black;
    position: relative;
}

h1 {
    color: white;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 0;
    height: 60px;
    background-color: #303C6C;
    padding: auto;
    border: none;
    text-align: center;
}

#day,#week,#month {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40%;
  width:85%;
}

#btn-day,#btn-week,#btn-month {
    padding:10px;
    background:#FBE8A6;
    width:70px;
    color:black;
    font-size: 18px;
    box-shadow:5px 5px 10px #aaaaaa;
    border:none;
    border-radius: 3px;
    display:inline;
}
#btn-day {
    margin-left:60px;
}
#btn-week {
    margin-left:111x;
}
#btn-month {
    margin-right::60px;
}


/*.screen img{
    position:absolute;
    top:22px;
    right:5px;
}*/

#back {
    height: 35px;
    width: 35px;
    top:10px;
    left:0px;
    position:absolute;
    top:22px;
    right:5px;
    
}