* {
	margin: 0;
	padding: 0;
}

.screen {
    width: 365px;
    height: 812px;
    border: 1px solid black;
    position: relative;
    text-align: center;
	background-image: linear-gradient(#303C6C, #d2fdff);
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

#login-error-msg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}

#error-msg-second-line {
  display: block;
}

input[type=text], input[type=password] {
	width : 80%;
	padding: 15px 25px;
	margin: 12px 5;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	color:black;
	font-size:16px;
	border-radius: 25px;
	background-color: white;
	opacity: 0.5;
	position: relative;
	backdrop-filter: blur(4px);
}

input[type=submit] {
	margin-top: 50px;
	width: 200px;
	height: 50px;
	border: none;
	border-radius: 25px;
	font-size: 20px;
	background-color: #FBE8A6;
	transition: 0.2s;
}

input[type=submit]:hover {
	cursor: pointer;
	width: 220px;
	height: 60px;
	border-radius: 30px;
}

h1 {
	margin-top:120px;
	font-size: 50px;
	color: #FBE8A6;
}


img{
	text-align: center;
	margin-top: 60px;
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
}

label {
	margin-left: 0;
}



@media only screen and (max-width:1000px) {
	.screen {
		width: 100%;
		height: 100%;
		border: 1px solid black;
		position: relative;
		text-align: center;
		background-image: linear-gradient(#303C6C, #d2fdff);
	}
	
	body {
		font-family: Arial, Helvetica, sans-serif;
	}
	
	#login-error-msg {
		left: 50%;
		position: absolute;
		transform: translate(-50%,-50%);
		  width: 80%;
		  text-align: center;
		  margin-left: auto;
		  margin-right: auto;
		  margin-top: 10%;
		  padding: 5px;
		  font-size: 3rem;
		  font-weight: bold;
		  color: #8a0000;
		  border: 1px solid #8a0000;
		  background-color: #e58f8f;
	}
	
	
	.textboxs{
		margin-top: 15%;
		position: relative;
	}
	
	input[type=text], input[type=password] {
		width : 80%;
		height: 6%;
		margin-top: 8%;
		display: inline-block;
		border: 1px solid #ccc;
		box-sizing: border-box;
		color:black;
		font-size:3rem;
		border-radius: 6vw;
		background-color: white;
		opacity: 0.5;
		position: relative;
		backdrop-filter: blur(4px);
		text-align: center;
	}
	
	input[type=submit] {
		margin-top: 10%;
		width: 50%;
		height: 6%;
		border: none;
		border-radius: 5vw;
		font-size: 3rem;
		background-color: #FBE8A6;
		transition: 0.2s;
	}
	
	input[type=submit]:hover {
		cursor: pointer;
	}
	
	h1 {
		margin-top:120px;
		font-size: 5rem;
		color: #FBE8A6;
	}
	
	
	img{
		position: relative;
		text-align: center;
		margin-top: 20%;
		width: 50vw;
		height: 50vw;
	}
	
	label {
		margin-left: 0;
	}
		
}

