
.screen {
    width: 365px;
    height: 812px;
    border: 1px solid black;
    position: relative;
}

h2 {
    text-align: left;
}

.center {
    margin: auto;
    width: 260px;
    height: 600px;
    display: block;
    text-align: center;
    position: relative;
}

.money {
    height: 40px;
    width:200px;
    margin: 8px 0 0 200px; 
    font-size: 28px;
    background-color: #FBE8A6;
    border-radius: 60px;
    padding: 9px;
}

#moneyIcon{
    width:50px;
    height:50px;
    margin-left:255px;
    margin-top:-40px;
}

#figure {
    width: 400px;
    transform: translate(-50px, 40px);
}

#level {
    font-size: 35px;
    margin-bottom: 20px;
}

#rank {
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate(10px, 130px);
}

.btn-start {
    height: 140px;
    width: 140px;
    font-size: 30px;
    left: auto;
    right: auto;
    bottom: 20px;
    border-radius: 50%;
    border: none;
    background-color: #4CAF50;
    color: white;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    z-index: 1;
}

.btn-start:hover {
    width: 140px;
    height: 140px;
    border: 2px solid #FBE8A6;
    color: #FBE8A6;
    cursor: pointer;
}

.switch {
    width: 100%;
    height: 60px;
    font-size: 20px;
    color: white;
    background-color: blue;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    top: auto;
}

.arrow {
    width: 40px;
    height: 40px;
}

#burger {
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-top: 15px;
}

#burger:hover {
    cursor: pointer;
}

#sidebar {
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: absolute; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #D2FDFF; /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#user-pic {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 80%;
    height: 140px;
    background-color: #fff;
    
}

.btn-nav {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    width: 90%;
    height: 40px;
    background-color: #FBE8A6;
    border:none;
    box-shadow:2px 2px 5px #aaaaaa;
}

.switch a {
    color: white;
    font-style: none;
    text-decoration: none;
}

#btn-todo {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    background-color: #FBE8A6;
    position: absolute;
    right: 30px;
    bottom: 150px;
    font-size: 25px;
}

#btn-todo:hover {
    cursor: pointer;
}
