.screen {
    width: 365px;
    height: 812px;
    border: 1px solid black;
    position: relative;
}

h2 {
    text-align: left;
}

.center {
    margin: auto;
    width: 260px;
    height: 600px;
    display: block;
    text-align: center;
    position: relative;
}

.money {
    margin: 10px 0 0 200px; 
    font-size: 30px;
    background-color: #909090;
    border-radius: 5px;
}

#figure {
    width: 400px;
    transform: translate(-50px, 40px);
}

#level {
    font-size: 35px;
    margin-bottom: 20px;
}

#rank {
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    position: absolute;
    transform: translate(10px, 130px);
}

.btn-start {
    height: 140px;
    width: 140px;
    font-size: 30px;
    left: auto;
    right: auto;
    bottom: 20px;
    border-radius: 50%;
    border: none;
    background-color: #606060;
    color: white;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
}

.btn-start:hover {
    width: 140px;
    height: 140px;
    border: 2px solid greenyellow;
    color: greenyellow;
    cursor: pointer;
}

.switch {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.arrow {
    width: 40px;
    height: 40px;
}

#burger {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

#burger:hover {
    cursor: pointer;
}

#sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #808080; /* Black fallback color */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#user-pic {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 80%;
    background-color: #fff;
    
}

.btn-nav {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    width: 90%;
    height: 40px;
}

