* {
  margin: 0;
  padding: 0;
}

.screen {
    width: 365px;
    height: 812px;
    border: 1px solid black;
    position: relative;
    text-align: center;
    background-color: white;
}

#back {
   height: 35px;
    width: 35px;
    top:10px;
    left:0px;
    position:absolute;
    top:22px;
    right:5px;
}

.btn {
    left: 0;
    top: 100px;
    background-color: #FBE8A6;
    width: 50%;
    height: 50px;
    border-radius: 3px;
    border: none;
    position: absolute;
    transform: translate(50%, 1100%);
    font-size: 18px;
    box-shadow: 5px 5px 10px #aaaaaa;
    justify-content: center;
}

h2 {
    color: white;
    margin-top: 0;
    padding-top: 25px;
    padding-bottom: 0;
    height: 60px;
    background-color: #303C6C;
    padding: auto;
    border: none;
    text-align: center;
}

h3 {
    text-align: left;
    margin-left: 20px;
}

img {
    height: 35px;
    width: 35px;
}

.control {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 30px;
    left: 50%;
    height : 55%;
    width: 80%;
    transform: translateX(-50%);
    background-color: #F1EFEF;
    border-radius: 10px;
    overflow: auto;
}

.app {
    margin: 0;
    display: flex;
    width: 50%;
    height: 50px;
    justify-content: center;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 20px;
  }

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider.round {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

  .slider.round:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #34C759;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

@media only screen and (max-width: 1000px) {

  .screen {
    width: 100%;
    height: 100%;
    font-size: 40px;
  }

  h2 {
    height: 5%;
  }

  h3 {
    text-align: center;
    margin-top: 30px;
  }

  .control {
    margin-top: 60px;
    height: 65%;
  }

  .app {
    height: 120px;
  }

  .btn {
    top: 60%;
    font-size: 30px;
  }

  img {
    width: 100px;
    height: 100px;
  }

  span {
    margin-top: 10px;
    height: 75px;
    width: 150px;
  }

  .slider.round:before {
    position: absolute;
    content: "";
    height: 60px;
    width: 60px;
    left: 6px;
    bottom: 8px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(80px);
    -ms-transform: translateX(80px);
    transform: translateX(80px);
  }

  .btn {
    height: 100px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,100%);
  }

  #back {
    width: 100px;
    height: 100px;
    margin-top: -10px;
  }

}