.screen {
    width: 365px;
    height: 812px;
    border: 1px solid black;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #E8F5CE;
}

.btn {
	background-color: #4CAF50;
	font-size: 18px;
	padding: 12px 28px;
	border-radius: 8px;
	color: white;
	margin-top : 400px;
	justify-content: center;
}

h2 {
    color: white;
    margin-top: 0;
    padding-top: 17px;
    padding-bottom: 0;
    height: 50px;
    background-color: #0F765A;
    padding: auto;
    border: none;
    text-align: center;
}

h3 {
    text-align: left;
    margin-left: 20px;
}

.switch {
	margin top : 300px;
	position: absolute;
}

.appIcon {
	height : 400px;
	justify-content: center;
}

