.screen {
    width: 365px;
    height: 812px;
    border: 1px solid black;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #E8F5CE;
}

h2 {
    color: white;
    margin-top: 0;
    padding-top: 17px;
    padding-bottom: 0;
    height: 50px;
    background-color: #0F765A;
    padding: auto;
    border: none;
    text-align: center;
    
}

.clock-setting {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.scroll {
    height: 150px;
    width: 70px;
    position: relative;
    background-image: linear-gradient(
        to bottom, rgba(0,0,0, .3) 0%, 
        rgba(0,0,0,0) 25%, rgba(0,0,0,0) 75%,
        rgba(0,0,0, .3) 100%
    );
    box-shadow: inset 0px 0px 12px rgba(0, 0, 0, .2);
    border-radius: 12px;
}

.scroll::after {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #F07F14;
    opacity: .3;
    pointer-events: none;
}

.roller {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    margin:auto;
    font-size: 25px;
    scroll-snap-type: y mandatory;
    
}

.roller li {
    display: flex;
    height: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.switch {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.arrow {
    width: 40px;
    height: 40px;
}

/* list styles */
#list {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 240px;
    width: 90%;
    border-radius: 10px;
    overflow: auto;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
}

.fa-plus{
    float: right;
}

input{
    background-color: sandybrown;
    font-size: 18px;
    color: black;
    width: 100%;
    padding: 13px 13px 13px 20px;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

input:focus{
    background-color: white;
    border: 3px solid yellowgreen ;
    outline: none;
    border-radius: 10px;
}

#list ul{
    list-style: none;
    padding: 0;
    margin-top: 0;
}

#list li{
    background-color: white;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    color: #666;
}

#list li:hover span{
    width: 40px;
    opacity: 1.0;
}

#list span{
    left: 0;
    background-color: red;
    width: 0px;
    height: 40px;
    text-align: center;
    color: white;
    display: inline-block;
    position: absolute;
    transition: 0.2s linear;
    opacity: 0;
}

i {
    margin-top: 10px;
}

#list li:nth-child(2n){
    background-color: #f7f7f7;
}

.ticket{
    margin-top: 20px;
}
