.container {
    width: 365px;
    height: 812px;
    border: 1px solid black;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    /*background-image: url("background.jpg");*/
}


.container img{
    position:absolute;
    top:18px;
    right:10px;
}

/*/*.modal {
    position: absolute;
    width: 80%;
    height: 230px;
    left: 50%;
    top: 50%;
    background-color: #B4DFE5;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
    display: none;
    transform: translate(-50%, -50%);
    z-index: 2;
}*/


.modal {
    position: absolute;
    width: 60%;
    height: 20%;
    left: 50%;
    top: 50%;
    background-color: #B4DFE5;
    text-align: left;
    border-radius: 10px;
    display: none;
    transform: translate(-50%, -50%);
    z-index:2;
    
}

#message {
    padding:30px;
    font-size: 35px
}

#close {
  color: white;
  float: right;
  height:70px;
  margin-right:5px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#page_title h1{
    color: white;
    margin-top: 0;
    padding-top: 17px;
    height: 50px;
    background-color: #303C6C;
}

#back {
    height: 35px;
    width: 35px;
    top:15px;
    left:5px;
}
/*#ticket_value{
    padding-top:60px;

}
#ticket_value form{
    display:inline;
}

#ticket_value label{
    font-size:20px;
    margin-right: 18px;
}

#ticket_value input{
    height:60px;
    font-size:18px;
}
*/
#ticket_number{
    padding-top:80px;
}

#ticket_number form{
    display:inline;
}

#ticket_number label{
    font-size:20px;
    margin-right: 6px;
}

#ticket_number input{
    height:60px;
    font-size:18px;
}

#save{
    position: absolute;;
    left: 50%;
    transform: translateX(-50%);
}

.save_but{
    left: 0;
    padding:50px;
    background:#FBE8A6;
    color:black;
    margin-top:50px;
    font-size: 30px;
    box-shadow:5px 5px 10px #aaaaaa;
    border:none;
    justify-content: center;
    border-radius: 3px;
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
}

#total_text{
    padding:60px;
    font-size: 40px;
}

.box{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 20px;
    left: 50%;
    height : 300px;
    width: 350px;
    transform: translateX(-50%);
    background-color: #F1EFEF;
    border-radius: 10px;
    overflow: auto;
    justify-content: center;
    text-align: center;
    font-size: 40px;
}

h3{
    font-size: 50px;
    padding:50px;
}




@media only screen and (max-width: 1000px) {
    *{
        margin: 0;
        padding: 0;
    }

    body {
        width: 100%;
        height: 100%;
    }

    .container {
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }

    #page_title h1{
        padding-top: 3%;
        height: 6%;
        font-size: 5rem;
        text-align: center;
    }

    .container img{
        position:absolute;
        width: 5rem;
        top:30px;
        right:30px;
    }

    #back {
        position:absolute;
        width: 5rem;
        height: 5rem;
        top:30px;
        left:30px;
    }

    #ticket_value{
        margin-top:18%;
        height:10%;

    }
    #ticket_value form{
        display:inline;
    }

    #ticket_value label{
        font-size:47px;
        margin-right: 10px;
        margin-left:-10px;
        
    }

    #ticket_value input{
        height:60px;
        font-size:40px;
        height:70%;
        width:50%;
    }
       
    #ticket_number{
        margin-top:10%;
        height:10%;
    }

    #ticket_number form{
        display:inline;
    }

    #ticket_number label{
        font-size:47px;
        margin-left:10px;
        margin-right: 15px;
    }

    #ticket_number input{
        height:60px;
        font-size:40px;
        height:70%;
        width:50%;
    } 


   
    span {
        font-size: 3rem;
    }

    label {
        font-size: 4rem;
    }

}
